body {
  --dark-grey: rgb(42 44 44);
  --hamster-orange: rgb(241, 166, 74)
}

.app {
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--hamster-orange);
  padding: 1em;
}

header h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

 nav a{
  text-decoration: none;
  color: var(--dark-grey);
  font-weight: bold;
  font-size: 1em;
  padding: 1em;
}

nav a:hover {
  color: white;
}

main {
  background-color: var(--dark-grey);
  color: white;
}

/* Startpage */

.startpage {
  padding: 1em;
}

.startpage h2 {
  margin-block-start: 0;
}
.cutest-hamster {
  border: 1px solid var(--hamster-orange);
  border-radius: .5em;
  background-color: var(--hamster-orange);
  text-align: center;
  max-width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  margin: auto;
}

.cutest-hamster figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  width: 13em;
  height: 13em;
}

.cutest-hamster img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: .5em;
  
}

/* Gallery */ 

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 1em;
 
}

.flip-card {
  border-style: hidden;
  background-color: transparent;
  width: 17em;
  height: 20em;
  
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hamster-card-front, .hamster-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid var(--hamster-orange);
  border-radius: .5em;
  background-color: var(--hamster-orange);
  text-align: center;
  max-width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hamster-card-back {
  transform: rotateY(180deg);
}

.hamster-card-front figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  width: 15em;
  height: 15em;
  padding-top: 1em;
}

.hamster-card-front img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: .5em;
  
}

.hamster-card-back p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.hamster-card-back img {
  height: 1.5em;
  padding: 1em;
}

.hamster-card-back button {
  background: none;
  border: none;
  cursor: pointer;
}

.add-hamster-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.774);
  height: 100vh;
  width: 100vw;
  top: 0em;
  left: 0em;
  z-index: 5;
}

.add-hamster-overlay > div {
  padding:1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:orange;
  display: inline-block;
}


/* Statistics */

.top-five {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3em;
}

.top-five > section{
  width: 20em;
  
}

.top-five h2 {
  text-align: center;
} 

.top-five-card {
  border: 1px solid var(--hamster-orange);
  border-radius: .5em;
  background-color: var(--hamster-orange);
  text-align: center;
  max-width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  margin: 1em;
}

.top-five-card p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
} 

.top-five-card span {
  font-weight: bold;
} 

.top-five-card figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  width: 13em;
  height: 13em;
}

.top-five-card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: .5em;
  
}

/* History  */

.match-card-container {
  padding: 2em;
}

.match-card {
  margin: 0 2em 2em;
  padding: 1em;
  height: 15em;
  width: 30em;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  border: 1px solid var(--hamster-orange);
  border-radius: .5em;
  background-color: var(--hamster-orange);
}

.match-card figure {
  height: 10em;
  width: 10em;
}

.match-card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: .5em;
}


/* Battle */ 

.battle {
  display: flex;
  flex-direction: row;
}

main > h3{
  margin-block-start: 0;
}

.battle-card {
  border: 1px solid var(--hamster-orange);
  border-radius: .5em;
  background-color: var(--hamster-orange);
  text-align: center;
  max-width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  margin: 1em;
}

.battle-card figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  width: 13em;
  height: 13em;
}

.battle-card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: .5em;
  
}