@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  --dark-grey: rgb(42 44 44);
  --hamster-orange: rgb(241, 166, 74);
  --almost-white: rgb(255, 253, 245);
  min-height: 100vh;
  background-color: var(--dark-grey);
  font-family: 'Poppins', sans-serif;
}

.app {
  text-align: center;
  min-height: 100vh; 
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--hamster-orange);
  padding: .5em;
}

header h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  padding: .5em
}

 nav a{
  text-decoration: none;
  color: var(--dark-grey);
  font-weight: bold;
  font-size: 1em;
  padding: .5em;
}

nav a:hover {
  color: var(--almost-white);
}

main {
  background-color: var(--dark-grey);
  color: var(--almost-white);
  padding: 2.5em 0;
  min-height: 90vh;
  
}

/* Startpage */

.startpage {
  padding: 1em;
}

.start-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
  padding: 1em 0 2em;
}

.start-info > article {
  padding: 1em 4em;
  background: var(--hamster-orange);
  border-radius: .5em;
  display: flex;
  flex-direction: column;
}

.start-info article aside {
  align-self: start;
}

.cutest-hamster {
  border: 1px solid var(--hamster-orange);
  border-radius: .5em;
  background-color: var(--hamster-orange);
  text-align: center;
  max-width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  margin: auto;
}

.cutest-hamster figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  width: 13em;
  height: 13em;
}

.cutest-hamster img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: .5em;
}

/* Gallery */ 

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 20em));
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-gap: 1em;
  padding: 2em 0 0 0;
}

.flip-card {
  border-style: hidden;
  background-color: transparent;
  width: 17em;
  height: 22em;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hamster-card-front, .hamster-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid var(--hamster-orange);
  border-radius: .5em;
  background-color: var(--hamster-orange);
  text-align: center;
  max-width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hamster-card-back {
  transform: rotateY(180deg);
}

.hamster-card-front figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  width: 15em;
  height: 15em;
  padding-top: 1em;
}

.hamster-card-front img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: .5em;
  
}

.hamster-card-front h3 {
  margin-top: 2em;
}

.hamster-card-back p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.hamster-card-back img {
  height: 1.5em;
  padding: 1em;
}

.hamster-card-back button {
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 0;
  padding: 0;
}

.hamster-card-back .matchwinners-btn {
  margin: 0;
  padding: 0 1em;
}

/* Statistics */

.top-five {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.top-five > section{
  width: 20em;
}

.top-five h2 {
  text-align: center;
} 

.top-five-card {
  border: 1px solid var(--hamster-orange);
  border-radius: .5em;
  background-color: var(--hamster-orange);
  text-align: center;
  max-width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  margin-bottom: 2em;
}

.top-five-card p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
} 

.top-five-card span {
  font-weight: bold;
} 

.top-five-card figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  width: 13em;
  height: 13em;
}

.top-five-card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: .5em;
}

/* History  */

.match-card-container {
  padding: 2em 0;
  display: grid;
  grid-template-columns: 90vw;
  justify-content: center;
}

.match-card {
  margin: 0 0em 2em;
  padding: .5em 1em 1em 2.5em;
  height: 15em;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  border: 1px solid var(--hamster-orange);
  border-radius: .5em;
  background-color: var(--hamster-orange);
  justify-content: center;
}
.match-card figure {
  height: 8em;
  width: 8em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.match-card > article {
  padding: 0 .5em;
}

.match-card > article img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: .5em;
}

.match-card > button {
  align-self: flex-start;
  background: none;
  padding: 0 .2em 0 0;
  margin: 0;
  
}

.match-card > button > img {
  height: 1.5em;
  padding: .5em 0 0 .5em;
}


/* Battle */ 

.battle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  .battle-card {
  border: 1px solid var(--hamster-orange);
  border-radius: .5em;
  background-color: var(--hamster-orange);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  margin: 1em 0.5em;
}  

.battle-card figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  width: 10em;
  height: 10em;
}

.battle-card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: .5em;
}

.results-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.results-card-container .top-five-card {
  flex-direction: column;
}

.results-card-container .info {
  text-align: center;
}

.results-card-container > div {
  width: 30em;
}

.overlay h2{
  margin-block-start: 0;
}

button {
  margin: 1em 0;
  border: none;
  border-radius: 5em;
  background: var(--almost-white);
  color: var(--dark-grey);
  padding: 1em 2em;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}


/* Add hamster overlay */

.add-hamster-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.774);
  height: 100vh;
  width: 100vw;
  top: 0em;
  left: 0em;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--hamster-orange);
  padding: 1em 0 3.5em;
  width: 35em;
  border-radius: 1em;
}  

.form > button:disabled {
  cursor: default;
  background-color: rgba(255, 253, 245, 0.514);
  color: rgba(42, 44, 44, 0.644);
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 4.5em;
}

input {
  height: 3em;
  border-radius: 5em;
  margin: .3em 0 0 0;
  border: none;
  padding: 0 1.4em;
  font-size: .75em;
  max-width: 12em;
}

.input-container label {
  font-size: .7em;
  text-align: center;
  align-self: center;
}

.checkbox {
  flex-direction: row;
  padding: 0 5em;
  text-align: left;
  align-items: flex-end;
}

.checkbox > input {
  align-self: baseline;
}

.checkbox > label {
  padding: 0 0 0 2em;
  display: block;
  text-align: left;
  max-width: 12em;
  position:relative;
  left: 0;
  font-size: .8em;
}

.valid {
  border: .25em solid rgb(8, 156, 8);
}

.invalid {
  border: .25em solid rgb(177, 17, 17);
}

label {
  display: none
}

label.valid {
  display: none
}

label.invalid {
  display: block;
  border: none;
}

.form > h2 {
  margin: 1.5em 0 1em;
}

.close-btn {
  background: none;
  font-size: 1.5em;
  margin: 0;
  padding: 0 0 0 .7em;
  align-self: flex-start;
}


/* DESKTOP */

@media screen and (min-width: 600px) {

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--hamster-orange);
    padding: 1em;
    height: 10vh;
    
  }

  nav .mobile{
    display: none
  } 

  nav .menu-overlay{
    display: none;
  } 

  nav .desktop {
    display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  } 
  
  
  header h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    
  }

  main {
    background-color: var(--dark-grey);
    color: var(--almost-white);
    padding: 2.5em;
    min-height: 90vh;
    
  }

  .start-info {
    grid-template-columns: repeat(2, 1fr);
  }

  .battle {
    
    flex-direction: row;
    
  }

  .battle-card {
    border: 1px solid var(--hamster-orange);
    border-radius: .5em;
    background-color: var(--hamster-orange);
    text-align: center;
    max-width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    margin: 1em;
  }

  .results-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
  } 

  .results-card-container .top-five-card {
    flex-direction: column;
  }
  
  .results-card-container .info {
    text-align: center;
  }

  .match-card-container {
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min-content, 30em));
    justify-content: center;
    padding: 2em 0 0 0;
  
  }

  
  
   .match-card {
    margin: 0 1em 2em;
    padding: 1em 1em 1em 2em;
    height: 15em;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    border: 1px solid var(--hamster-orange);
    border-radius: .5em;
    background-color: var(--hamster-orange);
  }
  
  .match-card figure {
    height: 10em;
    width: 10em;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  .match-card > button > img {
    height: 1.5em;
    
  }

  .top-five {
    
    flex-direction: row;
  
  }

}